In [7]:
import pandas as pd

train_clinical_data = pd.read_csv("train_clinical_data.csv")

train_clinical_data.head()

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,upd23b_clinical_state_on_medication
0,55_0,55,0,10.0,6.0,15.0,NaN,NaN
1,55_3,55,3,10.0,7.0,25.0,NaN,NaN
2,55_6,55,6,8.0,10.0,34.0,NaN,NaN
3,55_9,55,9,8.0,9.0,30.0,0.0,On
4,55_12,55,12,10.0,10.0,41.0,0.0,On

In [8]:
train_peptides = pd.read_csv("train_peptides.csv")

train_peptides.head()

,visit_id,visit_month,patient_id,UniProt,Peptide,PeptideAbundance
0,55_0,0,55,O00391,NEQEQPLGQWHLS,11254.3
1,55_0,0,55,O00533,GNPEPTFSWTK,102060.0
2,55_0,0,55,O00533,IEIPSSVQQVPTIIK,174185.0
3,55_0,0,55,O00533,KPQSAVYSTGSNGILLC(UniMod_4)EAEGEPQPTIK,27278.9
4,55_0,0,55,O00533,SMEQNGPGLEYR,30838.7

In [9]:
train_proteins = pd.read_csv("train_proteins.csv")

train_proteins.head()

  visit_id  visit_month  patient_id UniProt       NPX
0     55_0            0          55  O00391   11254.3
1     55_0            0          55  O00533  732430.0
2     55_0            0          55  O00584   39585.8
3     55_0            0          55  O14498   41526.9
4     55_0            0          55  O14773   31238.0

In [13]:
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('ParkinsonsProgressionModel.db')

# Create a cursor object
cursor = conn.cursor()

# Create a table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS train_clinical_data (
        visit_id varchar,
        patient_id numeric,
        visit_month numeric,
        updrs_1 numeric,
        updrs_2 numeric,
        updrs_3 numeric,
        updrs_4 numeric,
        upd23b_clinical_state_on_medication varchar
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS train_peptides (
        visit_id varchar,
        visit_month varchar,
        patient_id varchar,
        "UniProt" varchar,
        "Peptide" varchar,
        "PeptideAbundance" varchar
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS train_proteins (
        visit_id varchar,
        visit_month varchar,
        patient_id varchar,
        "UniProt" varchar,
        "NPX" varchar
    )
''')

# Commit the changes
conn.commit()

# Close the cursor and the connection
cursor.close()
conn.close()

In [22]:
# connect to database again
conn = sqlite3.connect('ParkinsonsProgressionModel.db')


# Create a cursor object
cursor = conn.cursor()

In [23]:
# Write the train_clinical_data to the SQLite database 
train_clinical_data.to_sql('train_clinical_data', conn, if_exists='replace', index=False)

2615

In [24]:
# Check the table
cursor.execute('''SELECT * FROM train_clinical_data  LIMIT 5''').fetchall()

[('55_0', 55, 0, 10.0, 6.0, 15.0, None, None),
 ('55_3', 55, 3, 10.0, 7.0, 25.0, None, None),
 ('55_6', 55, 6, 8.0, 10.0, 34.0, None, None),
 ('55_9', 55, 9, 8.0, 9.0, 30.0, 0.0, 'On'),
 ('55_12', 55, 12, 10.0, 10.0, 41.0, 0.0, 'On')]

In [25]:
# Write the train_peptides to the SQLite database
train_peptides.to_sql('train_peptides', conn, if_exists='replace', index=False)

981834

In [26]:
# Check the table
cursor.execute('''SELECT * FROM train_peptides  LIMIT 5''').fetchall()

[('55_0', 0, 55, 'O00391', 'NEQEQPLGQWHLS', 11254.3),
 ('55_0', 0, 55, 'O00533', 'GNPEPTFSWTK', 102060.0),
 ('55_0', 0, 55, 'O00533', 'IEIPSSVQQVPTIIK', 174185.0),
 ('55_0', 0, 55, 'O00533', 'KPQSAVYSTGSNGILLC(UniMod_4)EAEGEPQPTIK', 27278.9),
 ('55_0', 0, 55, 'O00533', 'SMEQNGPGLEYR', 30838.7)]

In [27]:
# Write the train_proteins to the SQLite database
train_proteins.to_sql('train_proteins', conn, if_exists='replace', index=False)

232741

In [28]:
# Check the table
cursor.execute('''SELECT * FROM train_proteins  LIMIT 5''').fetchall()

[('55_0', 0, 55, 'O00391', 11254.3),
 ('55_0', 0, 55, 'O00533', 732430.0),
 ('55_0', 0, 55, 'O00584', 39585.8),
 ('55_0', 0, 55, 'O14498', 41526.9),
 ('55_0', 0, 55, 'O14773', 31238.0)]

In [29]:
# Commit the changes
conn.commit()

# Close the cursor and the connection
cursor.close()
conn.close()